.meni li{
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 15%;
    top: 0;
    display:inline-block;
   }
   
.meni{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    height: 60px;
    width: 825px;
    background-color: rgb(65,105,225);
}


a{
  color: rgb(0, 0, 0);
}

#id{
  text-decoration: none;
}

.logo{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 0;
    left: 48%;
    transform: translateY(-90%);
}

.sadrzaj{
    background-color: rgb(65,105,225);
    height: 500px;
    position: relative;
    margin-top: 30px;
    width:825px;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

#textOsoblje{
    margin-left: auto;
    margin-right: auto;
    margin-top:35px;
    display:inline-block;
}