.meni li{
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 15%;
    display:inline-block;
   }
   
.meni{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    height: 60px;
    width: 825px;
    background-color: rgb(65,105,225);
}


a{
  color: rgb(0, 0, 0);
}

#id{
  text-decoration: none;
}

.logo{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 0px;
    left: 48%;
    transform: translateY(-90%);
}

.sadrzaj{
    background-color: rgb(65,105,225);
    position: relative;
    margin-top: 30px;
    height: 300px;
    width:825px;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

label {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 150px;
    margin-top: 10px;
}
span {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}
input {
    width: 75%;
}

@media only screen and (max-width: 600px) {

   
    .meni li{
        margin-top: 0px;
        margin-right: 4%;
        display: block;
       }
       
       .meni{
        height: 100px;
        width: 600px;
      }
    
    .logo{
        transform: translateY(-50%);
    }
    
    
    .sadrzaj{
        height: 400px;
        width:600px;
        text-align: left;
    }
    
    span {
        display: inline-block;
        padding: 10px 10px 0 50px;
    }
  }